<H1>{{localize "WTTRPGEnhancements.Sheet.DamageProperties.Title"}}</H1>
<table>
    <tbody>
        <tr class="item-header-tablerow">
            <td colspan="2">{{localize "WTTRPGEnhancements.Sheet.DamageProperties.Inherit"}}</td>
            <td colspan="2"><input name="damageProperties.inherit" type="checkbox" {{checked data.inherit}}>
            </td>
        </tr>
        <tr class="item-header-tablerow">
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.ArmorPiercing"}}
            </td>
            <td>
                <input type="checkbox" name="damageProperties.armorPiercing" {{checked data.armorPiercing}} />
            </td>
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.ImprovedArmorPiercing"}}
            </td>
            <td>
                <input type="checkbox" name="damageProperties.improvedArmorPiercing" {{checked
                    data.improvedArmorPiercing}} />
            </td>
        </tr>
        <tr class="item-header-tablerow">
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.DamageToAllLocations"}}
            </td>
            <td>
                <input type="checkbox" name="damageProperties.damageToAllLocations" {{checked
                    data.damageToAllLocations}} />
            </td>
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.BypassesWornArmor"}}
            </td>
            <td>
                <input type="checkbox" name="damageProperties.bypassesWornArmor" {{checked data.bypassesWornArmor}} />
            </td>
        </tr>
        <tr class="item-header-tablerow">
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.BypassesNaturalArmor"}}
            </td>
            <td>
                <input type="checkbox" name="damageProperties.bypassesNaturalArmor" {{checked
                    data.bypassesNaturalArmor}} />
            </td>
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.NonLethal"}}
            </td>
            <td>
                <input type="checkbox" name="damageProperties.isNonLethal" {{checked data.isNonLethal}} />
            </td>
        </tr>
        <tr class="item-header-tablerow">
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.Meteorite"}}
            </td>
            <td>
                <input type="checkbox" name="damageProperties.isMeteorite" {{checked data.isMeteorite}} />
            </td>

            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.Silver"}}
            </td>
            <td>
                <input name="damageProperties.silverDamage" value="{{data.silverDamage}}" />
            </td>
        </tr>
        <tr class="item-header-tablerow">
            <td>
                {{localize "WTTRPGEnhancements.Sheet.DamageProperties.SpDamage"}}
            </td>
            <td>
                <input name="damageProperties.spDamage" value="{{data.spDamage}}" />
            </td>
        </tr>
    </tbody>
</table>
