<section class="tab {{tabs.lifesteal.cssClass}} scrollable" data-group="primary" data-tab="lifesteal">
    <h1>{{localize "WTTRPGEnhancements.Sheet.Lifesteal.Title"}}</h1>
    <table class="table table-striped">
        <tbody>
            <tr class="item-header-tablerow">
                <td colspan="2">{{localize "WTTRPGEnhancements.Sheet.Lifesteal.Enabled"}}</td>
                <td colspan="2"><input name="lifesteal.enabled" type="checkbox" {{checked data.lifesteal.enabled}}></td>
            </tr>
            <tr class="item-header-tablerow">
                <td colspan="2">{{localize "WTTRPGEnhancements.Sheet.Lifesteal.FlatPercentage"}}</td>
                <td colspan="2"><input name="lifesteal.flatPercentage" type="number" value="{{data.lifesteal.flatPercentage}}"></td>
            </tr>
            <tr class="item-header-tablerow">
                <td colspan="2">{{localize "WTTRPGEnhancements.Sheet.Lifesteal.StoreOverheal"}}</td>
                <td colspan="2"><input name="lifesteal.storeOverheal" type="checkbox" {{checked data.lifesteal.storeOverheal}}></td>
            </tr>
            <tr class="item-header-tablerow">
                <td colspan="2">{{localize "WTTRPGEnhancements.Sheet.Lifesteal.OverhealPercentage"}}</td>
                <td colspan="2"><input name="lifesteal.overhealPercentage" type="number" value="{{data.lifesteal.overhealPercentage}}"></td>
            </tr>
            <tr class="item-header-tablerow">
                <td colspan="2">{{localize "WTTRPGEnhancements.Sheet.Lifesteal.OverhealThreshold"}}</td>
                <td colspan="2"><input name="lifesteal.overhealThreshold" type="number" value="{{data.lifesteal.overhealThreshold}}"></td>
            </tr>
        </tbody>
    </table>
</section>
