<section class="tab {{tabs.general.cssClass}} scrollable standard-form" data-group="primary" data-tab="general">
    <div class="weapon-skill-sheet__hero">
        <div class="weapon-skill-sheet__image-shell">
            <span class="weapon-skill-sheet__image-frame">
                <img class="weapon-skill-sheet__image" src="{{item.img}}" alt="{{item.name}}" data-action="editImage" data-edit="img" title="{{item.name}}">
            </span>
        </div>

        <div class="weapon-skill-sheet__title-block">
            <label class="weapon-skill-sheet__title-label">{{localize "Name"}}</label>
            <input class="weapon-skill-sheet__title-input" name="name" type="text" value="{{item.name}}" placeholder="Weapon Skill Name">

            {{#if parentWeapon}}
            <div class="weapon-skill-sheet__parent hint">
                <img src="{{parentWeapon.img}}" alt="{{parentWeapon.name}}" width="20" height="20">
                <span>{{parentWeapon.name}}</span>
            </div>
            {{/if}}
        </div>

        <input name="system.parentWeaponUuid" type="hidden" value="{{item.system.parentWeaponUuid}}">
    </div>

    <fieldset>
        <legend>{{localize "WITCHER.Item.Description"}}</legend>
        {{formInput enrichedText.description.systemField value=enrichedText.description.value enriched=enrichedText.description.enriched toggled=true}}
    </fieldset>

    <fieldset>
        <legend>{{localize "WTTRPGEnhancements.WeaponSkill.DamageSettings"}}</legend>
        <div class="form-group">
            <label>{{localize "WTTRPGEnhancements.WeaponSkill.DamageFormula"}}</label>
            <input name="system.damage" type="text" value="{{item.system.damage}}">
        </div>
        <div class="form-group stacked">
            <label>{{localize "WITCHER.Dialog.damageType"}}</label>
            <div class="checkbox-group weapon-skill-sheet__checkbox-group">
                {{#each damageTypes}}
                <label class="checkbox">
                    <input type="checkbox" name="system.damageType" value="{{this.value}}" {{checked this.checked}}>
                    <span>{{localize this.label}}</span>
                </label>
                {{/each}}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{localize "WITCHER.Attack.attackOptions.label"}}</legend>
        <div class="form-group stacked">
            <label>{{localize "WITCHER.Attack.attackOptions.label"}}</label>
            <div class="checkbox-group">
                {{#each attackOptions}}
                <label class="checkbox">
                    <input type="radio" name="system.attackMode" value="{{this.value}}" {{checked this.checked}}>
                    <span>{{localize this.label}}</span>
                </label>
                {{/each}}
            </div>
            <p class="hint">Choose whether this skill is used for melee or ranged attacks.</p>
        </div>

        {{#if hasMeleeAttack}}
        <h3>{{localize "WITCHER.Attack.attackOptions.melee"}}</h3>
        <div class="form-group">
            <label>{{localize "WITCHER.Attack.meleeAttackSkill.label"}}</label>
            <select name="system.meleeAttackSkill">
                {{selectOptions meleeAttackSkills selected=item.system.meleeAttackSkill valueAttr="name" labelAttr="label" localize=true}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "WITCHER.Weapon.MeleeBonus"}}</label>
            <input name="system.applyMeleeBonus" type="checkbox" {{checked item.system.applyMeleeBonus}}>
        </div>
        {{/if}}

        {{#if hasRangedAttack}}
        <h3>{{localize "WITCHER.Attack.attackOptions.ranged"}}</h3>
        <div class="form-group">
            <label>{{localize "WITCHER.Attack.rangedAttackSkill.label"}}</label>
            <select name="system.rangedAttackSkill">
                {{selectOptions rangedAttackSkills selected=item.system.rangedAttackSkill valueAttr="name" labelAttr="label" localize=true}}
            </select>
        </div>
        {{/if}}

        <div class="form-group">
            <label>{{localize "WTTRPGEnhancements.WeaponSkill.AttackSkillOverrideLabel"}}</label>
            <select name="system.attackSkillOverride">
                {{#each attackSkillOverrideOptions}}
                <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
                {{/each}}
            </select>
            <p class="hint">{{localize "WTTRPGEnhancements.WeaponSkill.AttackSkillOverrideHint"}}</p>
        </div>
        <div class="form-group stacked">
            <label>{{localize "WTTRPGEnhancements.WeaponSkill.TargetLocationsLabel"}}</label>
            <div class="checkbox-group weapon-skill-sheet__checkbox-group">
                {{#each targetLocations}}
                <label class="checkbox">
                    <input type="checkbox" name="system.targetLocations" value="{{this.value}}" {{checked this.checked}}>
                    <span>{{localize this.label}}</span>
                </label>
                {{/each}}
            </div>
            <p class="hint">{{localize "WTTRPGEnhancements.WeaponSkill.TargetLocationsHint"}}</p>
        </div>
        <div class="form-group stacked">
            <label>{{localize "WTTRPGEnhancements.WeaponSkill.AllowedStrikesLabel"}}</label>
            <div class="checkbox-group weapon-skill-sheet__checkbox-group">
                {{#each allowedStrikes}}
                <label class="checkbox">
                    <input type="checkbox" name="system.allowedStrikes" value="{{this.value}}" {{checked this.checked}}>
                    <span>{{localize this.label}}</span>
                </label>
                {{/each}}
            </div>
            <p class="hint">{{localize "WTTRPGEnhancements.WeaponSkill.AllowedStrikesHint"}}</p>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{localize "WITCHER.Attack.name"}}</legend>
        <div class="form-group">
            <label>{{localize "WTTRPGEnhancements.WeaponSkill.AttackRollModifierLabel"}}</label>
            <input name="system.accuracy" type="number" value="{{item.system.accuracy}}" data-dtype="Number">
            <p class="hint">{{localize "WTTRPGEnhancements.WeaponSkill.AttackRollModifierHint"}}</p>
        </div>
        {{#if hasRangedAttack}}
        <div class="form-group">
            <label>{{localize "WITCHER.Weapon.useAmmo"}}</label>
            <input name="system.usingAmmo" type="checkbox" {{checked item.system.usingAmmo}}>
        </div>
        {{/if}}
        <div class="form-group">
            <label>{{localize "WITCHER.Weapon.Range"}}</label>
            <input name="system.range" type="text" value="{{item.system.range}}" placeholder="0m">
        </div>
        <div class="form-group">
            <label>{{localize "WITCHER.Weapon.onlyDmg"}}</label>
            <input name="system.rollOnlyDmg" type="checkbox" {{checked item.system.rollOnlyDmg}}>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{localize "WITCHER.Item.Settings.attacks.defendWith.label"}}</legend>
        <div class="form-group stacked">
            <label>{{localize "WITCHER.Item.Settings.attacks.defendWith.label"}}</label>
            <div class="checkbox-group weapon-skill-sheet__checkbox-group">
                {{#each defenseOptions}}
                <label class="checkbox">
                    <input type="checkbox" name="system.defenseOptions" value="{{this.value}}" {{checked this.checked}}>
                    <span>{{localize this.label}}</span>
                </label>
                {{/each}}
            </div>
        </div>
        <div class="form-group stacked">
            <label>{{localize "WTTRPGEnhancements.WeaponSkill.AdditionalDefenseSkillsLabel"}}</label>
            <div class="checkbox-group weapon-skill-sheet__checkbox-group">
                {{#each additionalDefenseSkills}}
                <label class="checkbox">
                    <input type="checkbox" name="system.additionalDefenseSkills" value="{{this.value}}" {{checked this.checked}}>
                    <span>{{this.label}}</span>
                </label>
                {{/each}}
            </div>
            <p class="hint">{{localize "WTTRPGEnhancements.WeaponSkill.AdditionalDefenseSkillsHint"}}</p>
        </div>
    </fieldset>
</section>

