<header class="dialog-header">
    <h1 class="dialog-title">{{localize "WTTRPGEnhancements.WeaponSkillManager.Title"}}</h1>
    <p class="dialog-subtitle">{{localize "WTTRPGEnhancements.WeaponSkillManager.Weapon"}}: <strong>{{document.name}}</strong></p>
    <p class="dialog-info">{{localize "WTTRPGEnhancements.WeaponSkillManager.AttachedSkills"}}: <strong>{{attachedSkillCount}}</strong></p>
</header>
